<!-- User's info page -->
<% if current_user %>
<div class="info">
	<h1>Personal Info</h1>
	<div class="container">
		<dl>
			<dt>First name</dt>
			<dd><%= current_user.first_name %></dd>
			<dt>Last name</dt>
			<dd><%= current_user.last_name %></dd>
			<dt>Phone number</dt>
			<dd><%= current_user.phone_number %></dd>
			<dt>Email</dt>
			<dd><%= current_user.email %></dd>
		</dl>
	</div>
</div>
<% else %>
	<meta http-equiv="refresh" content="0; URL='login" />
<% end %>