<!-- User's info page -->

<div class="info">
	<h1>Personal info: </h1>
	<dl>
		<dt>First name</dt>
		<dd><%= current_user.first_name %></dd>
		<dt>Last name</dt>
		<dd><%= current_user.last_name %></dd>
		<dt>Phone number</dt>
		<dd><%= current_user.phone_number %></dd>
		<dt>Email</dt>
		<dd><%= current_user.email %></dd>
	</dl>
</div>