<!-- User's info page -->

<div class="profile">
	<h1>Profile</h1><hr/>
	<div class="container">
		<dl>
			<dt>Name</dt>
			<dd><%= current_user.first_name.capitalize %>&nbsp;<%= current_user.last_name.capitalize %></dd>
			<dt>Phone number</dt>
			<dd><%= current_user.phone_number %></dd>
			<dt>Email</dt>
			<dd><%= current_user.email %></dd>
		</dl>
	</div>
</div>