<!-- Commenting page -->

<h1>Comment on this post</h1>
<hr>

<div class="post">
	<div class="container">
		<div class="form">
			<%= form_for(:comment, url: create_comment_path) do |f| %>  
				<dl>
					<dt>Comment</dt>
					<dd><%= f.text_area :text, :placeholder => "I will take on this offer!" %> </dd>
				</dl>
				<%= f.submit "Create", class: "btn-submit" %>
			<% end %>
		</div>
	</div>
</div>
