h1, h2, h3, h4, h5, h6 {
   font-family: 'Quicksand', sans-serif;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: lighter;
}

h5, h6 {
  color: #191919;
}

.btn-light {
  color: #fff;
  background-color: #154444;
  border-color: #154444;
}