/*
Purple: #990099
Gold: #ffcc33
DarkGray: #dddddd
Light Gray: #f2f2f2
*/
body {
    background-color: #dddddd;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif/**/
}

.container-fluid {
    background-color: #990099;
  }

.container-fluid a:link, .container-fluid a:visited, .container-fluid li a:link {
    color: white;
}

.login .container, .signup .container {
    width: 270px;
    border-width: 2px;
    border-style: groove;
    border-color: #990099;
    border-radius: 5px;
    background-color: #f2f2f2;
    text-align: left;
}

.info .container {
    text-align: left;
    width: 200px;
}

.post .container {
    width: 400px;
    text-align: left;
}

.form dd {
    padding-bottom: 0px;
}

.login .form input, .signup .form input {
    width: 100%;
}

.post .form dd input {
    width: 100%;
}

.post .form textarea {
    width: 100%;
    height: 100px;
}
/*
.post .form input .btn-submit {
    text-align: center;
}
*/
.form dt, .info dt {
    padding-top: 10px;
}

hr {
    border-top: 2px solid #ffcc33;
    display: block;
    height: 1px;
}