.notice {
  color: white;
  background-color: #154444;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'Quicksand', sans-serif;
}

.btn-dark {
	background-color: #154444;
	border-color: #154444;
}

.btn-dark:hover {
	color: white;
	background-color: #103332;
	border-color: #103332;
}