.grid {
  display: grid;
  grid-template-columns: 25% 40% 35%;
}

.left-grid {
  margin-left: 30%;
}

.right-grid {
  margin-left: 10%;
  margin-right: 20%;
}

.button {
  background-color: #154444;
}

.logo {
  width: 10px;
  height: 10px;
}