.grid {
  display: grid;
  grid-template-columns: 55% 45%;
  height: 100vh;
}

.left-grid {
  background: linear-gradient(#154444, #385e5a);
  height: auto;
  width: auto;
}

.right-grid {
  margin-left: 20%;
  margin-top: 10%;
}

.description {
  margin-top: 25%;
  text-align: center;
}

.description h2 {
  color: white;
  font-size: 40px;
}

.description h3 {
  text-align: left;
  color: white;
  font-size: 30px;
  margin-left: 25%;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: lighter;
}

h5, h6 {
  color: #191919;
}